/Animal/nbproject/private/
/Animal/build/
/Day12Challenge/nbproject/private/
/Day12Challenge/build/
/JavaApplication18/nbproject/private/
/JavaApplication19/nbproject/private/
/JavaApplication20/nbproject/private/
/JavaApplication21/nbproject/private/
/asdfasdf/nbproject/private/
/asdfasdfadfdsafsadfasdfasdf/nbproject/private/
/fff/nbproject/private/
/JavaApplication22/nbproject/private/
/JavaApplication23/nbproject/private/
/JavaApplication24/nbproject/private/
/JavaApplication25/nbproject/private/
/CalendarPractice/nbproject/private/
/CalendarPractice/build/